/* Only used for Large Screens */
.typographyDisplayHeading 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 50px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Only for Large Screens and Tables */
.typographyDisplayMedium 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 50px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* For all Screens */
.typographyDisplaySmall 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Mostly for Title on Mobile Screen */
.typographyHeadlineLarge 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* For mostly headline */
.typographyHeadlineMedium 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Only used for Large Screens */
.typographyDisplayHeading 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 50px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Only for Large Screens and Tables */
.typographyDisplayMedium 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 50px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* For all Screens */
.typographyDisplaySmall 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Mostly for Title on Mobile Screen */
.typographyHeadlineLarge 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* For mostly headline */
.typographyHeadlineMedium 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

